<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/media/css/style.css" />
   <title>{% block title %}Mon resto sur les plats et les menu{% endblock %}</title>
</head>
<body>
<header>Restaurant Villa Plaza</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/gestionplats/">Plats</a></li>
            <li><a href="/gestionmenus/">Menus</a></li>
            <li><a href={% url "afficher_plat" 42 %}>Lien vers article N° 42</a></li>
       </ul>
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; Villa Plaza LTD</footer>
</body>
</html>
